<div>
  <h4>取得联系</h4>

  <form class="contact-form">
    <label>意图：</label>
    <mat-radio-group [(ngModel)]="info.intentionType" name="intentionType">
      <mat-radio-button *ngFor="let e of preset.INTENTION_TYPES" [value]="e">{{e}}</mat-radio-button>
    </mat-radio-group>

    <label>联系方式</label>
    <mat-radio-group [(ngModel)]="info.channelType" name="channelType">
      <mat-radio-button *ngFor="let e of preset.CONTACT_CHANNELS" [value]="e">{{e}}</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
      <input matInput [placeholder]="info.channelType" [(ngModel)]="info.channelVal" name="channelVal">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="说明"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="联系时间">
        <mat-option [value]="e" *ngFor="let e of preset.CONTACT_TIME">{{e}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary">提交联系信息</button>
  </form>
</div>