h4 {
    margin: 0;
    padding: 20px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;   
    height: 100%;
    text-align: left;
}

div.contact-infos {
    text-align: left;
    height: 100%;
}

label.form-label {
    color: rgba(0,0,0,.54);
    font-size: 13px;
    text-align: left;
    margin-bottom: .5em;
}   

.field-end {
    margin-bottom: 1.25em;
}


/* TODO radio 的间隔和分组不太合理，勾选圈应该更靠近文本，各radio保持合适的距离 */