@import '../../../theme.scss';

:host {
  display: block;
  box-shadow: $shaddow-main-component;
  pointer-events: auto;
  background-color: white;

  ::ng-deep .mat-figure {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.case-card-col app-case-card {
  margin-bottom: $size-gutter-small-card;
}
