.topnav ul li {
    display: inline;
    color: lightpink;
    text-align: center;
}

.topnav ul li a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 1.5;
}

.topnav a:hover {
    color: orangered;
}

.topnav a.active {
    color: rgb(25, 0, 255);
}

/* like btn */
.topnav .like {
    float: right!important;
}