.style-filter {
  mat-radio-group mat-radio-button:last-child {
    border-right: none;
  }
  mat-radio-button {
    border-right: 2px solid rgb(79, 185, 227);
    padding: 3px 12px 3px 0;
    margin-right: 12px;
  }
}·

:host ::ng-deep {
  .mat-radio-label-content {
    padding-right: 5px;
  }
  .mat-figure {
    flex-direction: column;
    justify-content: flex-start;
}
}
