@import '../theme.scss';

#main-wraper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    overflow-y: auto;
}

main {
    max-width: 1020px;
    margin: 200px auto;
}

app-pc-trans-gutter {
    height: $size-nav-height;
}