@import '../theme.scss';

#main-wraper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    overflow-y: auto;
}

main {
    max-width: $size-pc-max-width;
    margin: 140px auto;
}
app-pc-trans-gutter.row-below-nav{
    height: 2 * $size-nav-height;
}

app-pc-trans-gutter {
    height: $size-nav-height;
}