<h1 style="color: green;">留言墙</h1>
<div [style.textAlign]="'right'">
  <button mat-fab color="accent" (click)="genTiles()">刷</button>
</div>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color.bg"
    [style.color]="tile.color.fg">
    <span class="words-author">{{tile.words.name}}:</span>
    {{tile.words.content}}
    <span>{{tile.words.createDate | readableDate:state.now}}</span>

  </mat-grid-tile>
</mat-grid-list>

<div [style.textAlign]="'center'">
    <button mat-fab color="accent" (click)="genTiles()">还要</button>
  </div>