/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";


// material theme start
// ref: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $app-primary: mat-palette($mat-deep-orange);
$app-primary: mat-palette($mat-orange);
$app-accent:  mat-palette($mat-deep-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// material theme end


// basic styles
app-* {
    display: block;
}
body {
    margin: 0;
}

.clearfix {
    clear: both;
}

.txt-align-right {
    text-align: right;
}

.debug-area {
    background-color: lightgray;
    border: 2px dotted red;
    margin: 50px 0;
    padding: 1em 0;
}
.debug-area::before {
    content: '高能：这里是调试区域';
    display: block;
    top: -2em;
    color: lightcoral;
    font-size: 1.5em;
    border-bottom: 1px dotted gray;
    background-color: white;
}