@import 'styles';

// 层级
// backdrop background layer: z-index -1
// backdrop front layer(main): z-index 100~199
// actions above main: z-index 200 ~ 209
// important elements above main: 210 ~ 299
// 

// fonts

$shaddow-main-component: 0 0 8px lightgray;

// colors
$color-debug: red;
$color-pri-bg: orangered;
// $color-pri-bg: map-get($app-primary,  800); // 主要的背景色
$color-pri-front: black;
$color-pri-front-active: #FC4025;
$color-warm: #453EB2;

$color-cold: #FFF43E;

$color-addtional-info: rgba(0, 0, 0, .54);


// size
// 元素的尺寸、间距需要协调，确保理论上的和谐性和观感默契
// header size
// font size
// padding margin

$size-pc-max-width: 1020px;

/** 区块级别间隙参考 */
$size-section-level-gap: 100px;
$size-addtional-info: 12px;
$size-nav-height: 43px;

$size-gutter-small-card: 12px;


// 页面仅有一个标题、详情页标题使用 h1

// 页面内块级标题使用h2

// 嵌套的heading使用级别不应该超过外层heading
/**
eg:
<section>
    <h2>subtitle</h2>
    <div>
        <h1>内部的heading</h1>        <<=============  这用组织结构不合理
        <h4>内部的heading</h4>        <<=============  这用组织结构不合理
        <some-title></some-title>    <<=============  推荐的方式
    </div>

</section>

*/

.info-label {
    color: rgba(0,0,0,.54);
    font-size: 13px;
    text-align: left;
    margin-bottom: .5em;
}
