
<app-pc-trans-gutter class="row"></app-pc-trans-gutter>
<app-home-banner 
    [slogan]="state.configs.slogan.val" 
    [bgImgSrc]="state.configs.homeBannerBgImgSrc.val"
    appOverAndActive></app-home-banner>
<app-pc-trans-gutter class="row"></app-pc-trans-gutter>
<app-home-cases 
    [cases]="state.cases"
    appOverAndActive></app-home-cases>
<app-pc-trans-gutter class="row"></app-pc-trans-gutter>

<section class="home-posts-area">
        <app-home-news appOverAndActive class="col" [news]="state.newsPosts" [now]="state.now"></app-home-news>
        <app-pc-trans-gutter class="gutter"></app-pc-trans-gutter>
        <app-home-articles appOverAndActive class="col" [articles]="state.articlePosts"></app-home-articles>
</section>
