@import '../../theme.scss';

:host {
    display: block;
}

app-pc-trans-gutter.row{
    height: $size-nav-height;
    width: 100%;
}

section.home-posts-area {
  display: flex;
  flex-direction: row;
  justify-content: center;

  app-pc-trans-gutter {
      width: 30px;
  }

  .col {
      width: 50%;
  }
}
